@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background: #fff;
    }
}

@font-face {
    font-family: "SignikaNegative";
    src: url("../public/fonts/SignikaNegative-VariableFont_wght.ttf");
}

@font-face {
    font-family: "lilitaOne";
    src: url("../public/fonts/LilitaOne-Regular.ttf");
}
